/*     font-family: Oswald, Verdana, sans-serif; */

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    font-size: 18px;
    font-family: Oswald, Verdana, sans-serif;
    color: #fcfeec;
    background-color: #0a0c10;
    background-image: radial-gradient(#0a0c10, #040507);
}

.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin: 1rem;
}


/** * Row flex component. */
.row {
    display: flex;
}

.list-inline {
    list-style: none;  /* Remove the default bullet points */
    padding: 0;  /* Remove default padding */
    margin: 0;  /* Remove default margin */
    color: #284b63;

}

.list-inline li {
    display: inline-block;  /* Display list items horizontally */
    margin-right: 10px;  /* Add spacing between the dots */
}


.list-inline li:before {
    content: '\2022';  /* Use the bullet character (•) as content */
    font-size: 4rem;  /* Adjust the size of the bullet */
    margin-right: 5px;  /* Add spacing between the bullet and the content */
}
  
.nav-link {
    list-style: none;  /* Remove the default bullet points */
    padding: 0;  /* Remove default padding */
    margin: 0;  /* Remove default margin */
}

.nav-link li {
    display: inline-block;
    margin-right: 10px;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;
}